@import './theme.css';
@import './vars.css';

.Backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000e1;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

@media only screen and (mim-width: 768px) {
  .Backdrop::-webkit-scrollbar {
    display: none;
  }

  .Backdrop {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
