@import './vars.css';

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--brand);
  height: 100vh;
}

.login h1 {
  margin: 0.5rem 0;
  color: var(--text1);
}
