@import './vars.css';
@import './theme.css';

.home {
  perspective: 150rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--brand);
  height: 100vh;
}

.signIn {
  transform: rotateY(0);
}

.signInFlip {
  transform: rotateY(180deg);
}

.newAcc {
  transform: rotateY(-180deg);
}

.newAccFlip {
  transform: rotateY(0);
}
