@import './vars.css';

.splash {
  background-image: url('../../Assests/beach1.jpg');
  background-size: cover;
  height: 85vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.splash svg path {
  fill: var(--white);
}

.titleContainer {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 0 1em;
  font-family: var(--fontOne);
  font-size: var(--fontXl);
  color: var(--white);
  letter-spacing: 2px;
}

.qoute {
  margin: 0;
  font-family: var(--fontTwo);
  font-style: italic;
  font-size: var(--fontMd);
  color: var(--white);
}

.btnContainer {
  height: 15vh;
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 1em 3.3em;
  background-color: var(--brand);
  color: var(--white);
}

.btn:active,
.btn:hover {
  background-color: var(--color1);
  transition: all 0.2s ease-in-out;
}
