@import './vars.css';
@import './theme.css';

.newAcc {
  position: absolute;
  backface-visibility: hidden;
  transition: all 0.8s ease;
  display: grid;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  grid-template-areas:
    'Title'
    'Inputs'
    'Footer';
  justify-items: center;
}

.title {
  grid-area: Title;
  align-self: center;
  margin: 0;
  letter-spacing: 2px;
  font-size: var(--fontXl);
  font-family: var(--fontOne);
  color: var(--brand);
}

.inputContainer {
  grid-area: Inputs;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.valid {
  color: var(--success);
}

.invalid {
  color: var(--error);
}

.congSelect {
  width: 100%;
  border-radius: 0.2rem;
  box-sizing: border-box;
  padding: 1.1em 1.5em 1em 0.5em;
  margin: 0.7em 0;
  border: none;
  background-color: var(--color3);
  font-family: var(--fontTwo);
  font-size: var(--fontMd);
  color: var(--text2);
  letter-spacing: 0.8px;
}

.congSelect:focus-visible {
  outline: 3px solid var(--brand);
}

.newAccBtn {
  width: 100%;
  background-color: var(--brand);
  color: var(--white);
  margin: 0.7em 0;
  padding: 0.5em 0;
}

.newAccBtn:hover {
  background-color: var(--color1);
  transition: all 0.2s ease-in-out;
}

.accountContainer {
  grid-area: Footer;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.question {
  font-size: var(--fontSm);
  font-style: italic;
  font-weight: 400;
  margin: 1em 0 0.5em;
}

.cardFlipBtn {
  color: var(--brand);
  background-color: transparent;
}

.cardFlipBtn:hover {
  color: var(--color1);
  transition: all 0.2s ease-in-out;
}
