@import './vars.css';
@import './theme.css';

.modal {
  width: 75%;
  height: 50%;
  background-color: var(--brand);
  margin: auto;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
