/* Global Styles, Fonts, and Dimensions */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

:root {
  /*===== Fonts =====*/

  --fontOne: 'Bebas Neue', cursive;

  --fontTwo: 'Source Sans Pro', sans-serif;

  /*===== Dimensions =====*/

  --fontXl: clamp(24px, 13.3vw, 60px);

  --fontLg: clamp(14px, 7.5vw, 32px);

  --fontMd: clamp(10px, 4vw, 20px);

  --fontSm: clamp(12px, 3vw, 18px);

  --fontXs: clamp(6px, 2.3vw, 14px);
}
